name: Test

on:
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker build -t sindbadia/multi-client -f ./client/Dockerfile.dev ./client
      - run: docker run -e CI=true sindbadia/multi-client yarn test
